@model ShoppingCartViewModel
@{
	ViewData["Title"] = "Xác nhận thanh toán";
}

<div id="address-box" class="overlay-box" style="display: none">
	<div class="bg-white manage-product-review-box rounded width-40rem">
		<div class="box-padding-20 border-bottom-style-1">
			<div class="box-padding-left-right-20">
				<h3>Thông tin liên hệ</h3>
			</div>
		</div>

		<div class="box-padding-left-right-20">
			@{
				bool first = true;
				foreach (var i in Model.ThongTinLienHe)
				{
					<div class="d-flex gap-3 mt-3 min-height-3 align-items-center">
						@if (first)
						{
							<input class="address-radio" type="radio" id="address-@i.IdLienHe"
							name="address-info" data-group="@i.IdLienHe" checked />
							first = false;
						}
						else
						{
							<input class="address-radio" type="radio" id="address-@i.IdLienHe"
							name="address-info" data-group="@i.IdLienHe" />
						}
						<label for="address-@i.IdLienHe">
							<span>
								<strong class="address-radio info-name" data-group="@i.IdLienHe">
									@i.HoVaTen
								</strong>
							</span>
							<span class="address-radio info-phone" data-group="@i.IdLienHe">
								@i.Sdt
							</span>
							<span class="address-radio info-address" data-group="@i.IdLienHe">
								@i.DiaChi
							</span>
						</label>
					</div>
				}
			}
		</div>
		<div class="d-flex box-padding-20">
			<button id="cancelBtn" class="ms-auto invisible-button profiles-edit-button">Thoát</button>
			<button id="confirmBtn" class="ms-2 invisible-button profiles-edit-button">Xác nhận</button>
		</div>
	</div>
</div>

<div class="template-2">
	<div class="container-2 d-flex flex-column gap-4">
		<div class="bg-white box-padding-15 border-rounded box-padding-left-30">
			<h2>Xác nhận thanh toán</h2>
		</div>
		<div class="bg-white box-padding-15 border-rounded box-padding-left-30">
			<h5 class="text-highlight">Địa chỉ nhận hàng</h5>
			@{
				var ttlh = Model.ThongTinLienHe.FirstOrDefault();
				if (ttlh != null)
				{
					<div class="d-flex gap-3 mt-3">
						<div>
							<strong id="name-display">
								@ttlh.HoVaTen
							</strong>
						</div>
						<div id="phone-display">
							@ttlh.Sdt
						</div>
						<div id="address-display">
							@ttlh.DiaChi
						</div>
						<div>
							<button id="change-address" class="invisible-button delete-product-shopcart-button">
								Thay đổi
							</button>
						</div>
					</div>
				}
			}
		</div>
		<div class="bg-white box-padding-15 border-rounded box-padding-left-30">
			<div class="d-flex box-padding-left-right-10 gap-3 text-highlight">
				<div class="width-50">Sản phẩm</div>
				<div class="width-12 text-center ms-auto">Đơn giá</div>
				<div class="width-12 text-center">Số lượng</div>
				<div class="width-12 text-center">Thành tiền</div>
			</div>
		</div>

		@if (Model.danhSachCuaHang != null)
		{
			foreach (var shop in Model.danhSachCuaHang)
			{
				<div class="bg-white box-padding-15 border-rounded box-padding-left-30">
					<div class="d-flex border-bottom-style-1 width-100 box-padding-10 gap-3">
						<div class="text-highlight">@shop.TenCuaHang</div>
					</div>

					@foreach (var product in shop.danhSachSanPham)
					{
						<div class="d-flex box-padding-10 gap-3 border-bottom-style-1">
							<div class="width-50 d-flex gap-3">
								<div class="width-height-80px graphic-cover-2">
									<img src="/@product.UrlAnh" />
								</div>
								<div>
									<div>@product.TenSanPham</div>
								</div>
							</div>
							<div class="width-12 text-center ms-auto">
								@string.Format("{0:#,##0} ₫", product.GiaBan)
							</div>
							<div class="width-12 text-center">
								@product.SoLuong
							</div>
							<div class="width-12 text-center">
								@string.Format("{0:#,##0} ₫", product.GiaBan * product.SoLuong)
							</div>
						</div>
					}
				</div>
			}
		}

		<div class="bg-white box-padding-15 border-rounded box-padding-left-30">
			<div class="d-flex gap-3 align-items-center justify-content-between">
				<div class="text-highlight fw-bold">Thành tiền:</div>
				<div class="text-highlight fw-bold fs-5 width-12 text-center">
					@if (Model.danhSachCuaHang != null)
					{
						<div>
							@string.Format("{0:#,##0} ₫", Model.danhSachCuaHang
																.SelectMany(s => s.danhSachSanPham)
																.Sum(p => p.GiaBan * p.SoLuong))
						</div>
					}
					else
					{
						<div>
							0 ₫
						</div>
					}
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-end gap-3">
			<form id="myForm" method="post">
				@if (Model.danhSachCuaHang != null)
					@foreach (var shop in Model.danhSachCuaHang)
					{
						foreach (var product in shop.danhSachSanPham)
						{
							<input type="hidden" name="danhSachSanPham" value="@product.IdSanPham" />
						}
					}
				@if (@ttlh != null)
				{
					<input name="IdLienHe" id="IdLienHe" value="@ttlh.IdLienHe" type="hidden" readonly />
				}
				else
				{
					<input name="IdLienHe" id="IdLienHe" type="hidden" readonly />
				}
				<button class="invisible-button btn-buy">Xác nhận đặt hàng</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		let changeAddressBtn = document.getElementById('change-address');
		let confirmAddressBtn = document.getElementById('confirmBtn');
		let cancelAddressBtn = document.getElementById('cancelBtn');
		if (changeAddressBtn) {
			changeAddressBtn.addEventListener('click', function() {
				document.getElementById('address-box').style.display = 'flex';
			});
		}
		confirmAddressBtn.addEventListener('click', function() {
			document.getElementById('address-box').style.display = 'none';
					let info = document.querySelectorAll('.address-radio');
			for(let i of info) {
				if(i.checked === true) {
					let group = i.dataset.group;
					let nameInfo = document.querySelector(`.address-radio.info-name[data-group="${group}"]`);
					let phoneInfo = document.querySelector(`.address-radio.info-phone[data-group="${group}"]`);
					let addressInfo = document.querySelector(`.address-radio.info-address[data-group="${group}"]`);
					let nameDis = document.getElementById('name-display');
					let phoneDis = document.getElementById('phone-display');
					let addressDis = document.getElementById('address-display');
					let idLienHe = document.getElementById('IdLienHe');
					nameDis.textContent = nameInfo.textContent;
					phoneDis.textContent = phoneInfo.textContent;
					addressDis.textContent = addressInfo.textContent;
					idLienHe.value = group;
				}
			}
		});
		cancelAddressBtn.addEventListener('click', function() {
			document.getElementById('address-box').style.display = 'none';
		});
		$(document).ready(function() {
			$("#myForm").submit(function (e) {	
				e.preventDefault();
				var redirect = '@Url.Action("Index", "Profiles")';
				$.ajax({
					url: '@Url.Action("Payment", "ShoppingCart")',
					type: 'POST',
					data: $(this).serialize(),
					dataType: "json",
					success: function(response) {
						if(response.isSuccess) {
							window.location.href = redirect;
						}
						else {
							alert(response.message);
						}
					}
				});
			});
		});
	</script>
}