@model Profiles
@{
	ViewData["Title"] = "Trang cá nhân";
}
<div class="profiles-wrapper">
	<div>
		<div class="profiles-sidebar">
			<div class="profiles-avatar-wrapper">
				@if (Model.UrlAnhDaiDien != null)
				{
					<img src="~/@Model.UrlAnhDaiDien" class="profiles-avatar" />
				}
				else
				{
					<img src="~/images/avatar-mac-dinh.jpg" class="profiles-avatar" />
				}
			</div>
			<div class="profiles-name">@Html.DisplayFor(model => model.HoVaTen)</div>
			<div class="profiles-username">@Html.DisplayFor(model => model.Email)</div>
			<div class="d-flex flex-column align-items-center gap-3">
				<a class="profiles-edit-button" asp-action="ChangeProfiles">
					Chỉnh sửa thông tin
				</a>
				<a class="tab-link" asp-action="Index">
					Thông tin cá nhân
				</a>
				<a class="tab-link" asp-action="ManageProducts">
					Quản lý đơn hàng
				</a>
				<a class="tab-link" asp-action="ManageAddress">
					Địa chỉ liên hệ
				</a>
			</div>
		</div>
	</div>

	<div class="profiles-main">
		<div class="profiles-info-section">
			<h2 class="profiles-section-title">
				<strong>Thông tin cá nhân</strong>
			</h2>

			<div class="profiles-info-item">
				<strong>CCCD:</strong>
				<div>@Html.DisplayFor(model => model.Cccd)</div>
			</div>

			<div class="profiles-info-item">
				<strong>Số Điện Thoại:</strong>
				<div>@Html.DisplayFor(model => model.SoDienThoai)</div>
			</div>
			<div class="profiles-info-item">
				<strong>Địa chỉ:</strong>
				<div>@Html.DisplayFor(model => model.DiaChi)</div>
			</div>
			<div class="profiles-info-item">
				<strong>Số dư tài khoản:</strong>
				<div>@string.Format("{0:#,##0} ₫", Model.SoDu)</div>
			</div>
		</div>
	</div>
</div>
