@model ManageProducts
@{
	ViewData["Title"] = "Trang cá nhân";
}
<div class="profiles-wrapper">
	<div>
		<div class="profiles-sidebar">
			<div class="profiles-avatar-wrapper">
				@if (Model.UrlAnhDaiDien != null)
				{
					<img src="~/@Model.UrlAnhDaiDien" class="profiles-avatar" />
				}
				else
				{
					<img src="~/images/avatar-mac-dinh.jpg" class="profiles-avatar" />
				}
			</div>
			<div class="profiles-name">@Html.DisplayFor(model => model.HoVaTen)</div>
			<div class="profiles-username">@Html.DisplayFor(model => model.Email)</div>
			<div class="d-flex flex-column align-items-center gap-3">
				<a class="profiles-edit-button" asp-action="ChangeProfiles">
					Chỉnh sửa thông tin
				</a>
				<a class="tab-link" asp-action="Index">
					Thông tin cá nhân
				</a>
				<a class="tab-link" asp-action="ManageProducts">
					Quản lý đơn hàng
				</a>
				<a class="tab-link" asp-action="ManageAddress">
					Địa chỉ liên hệ
				</a>
			</div>
		</div>
	</div>

	<div class="profiles-main">
		<div class="profiles-info-section">
			<h2 class="profiles-section-title">
				<strong>Quản lý đơn hàng</strong>
			</h2>
			<div class="bg-FBFBFB box-padding-20 border-style-3">
				<div class="d-flex gap-3 box-padding-left-right-20">
					<a class="tab-link" href="#">Tất cả</a>
					<a class="tab-link" href="#">Chờ xác nhận</a>
					<a class="tab-link" href="#">Đã xác nhận</a>
					<a class="tab-link" href="#">Đã hoàn thành</a>
					<a class="tab-link" href="#">Đã huỷ</a>
				</div>
				<div class="d-flex flex-column gap-3">
					@foreach (var donHang in Model.danhSachDonHang)
					{
						<div class="bg-white mt-3 box-padding-20 border-style-3">
							<div class="d-flex flex-column gap-2 border-bottom-style-1 box-padding-10">
								<div class="color-F7AD45 fw-bold">Mã đơn hàng: @donHang.IdDonHang</div>
								<div class=" color-393E46 fw-semibold">Thời gian đặt hàng: @donHang.ThoiGianTao?.ToString("dd/MM/yyyy HH:mm")</div>
								@if (donHang.ThoiGianGiao != null)
								{
									<div class="color-328E6E fw-semibold">Thời gian nhận hàng: @donHang.ThoiGianGiao?.ToString("dd/MM/yyyy HH:mm")</div>
								}
							</div>
							<div>
								@foreach (var cuaHang in donHang.danhSachCuaHang)
								{
									<div class="d-flex border-bottom-style-1 width-100 box-padding-10 gap-3">
										@* <div>@cuaHang.IdCuaHang</div> *@
										<div class="text-highlight">@cuaHang.TenCuaHang</div>
									</div>
									foreach (var sanPham in cuaHang.danhSachSanPhams)
									{
										@* <div>@sanPham.IdSanPham</div> *@
										<div class="bg-FBFBFB d-flex box-padding-10 gap-3 border-bottom-style-1 product-display">
											<div class="width-62 d-flex gap-3">
												<div class="width-height-80px graphic-cover-2">
													<img src="~/@sanPham.UrlAnhSanPham" />
												</div>
												<div>@sanPham.TenSanPham</div>
											</div>
											<div class="width-12 text-center new-price">
												<div>@string.Format("{0:#,##0} ₫", sanPham.DonGia)</div>
											</div>
											<div class="width-12 text-center fw-semibold">
												<div>x @sanPham.SoLuong</div>
											</div>
											<div class="width-12 text-center fw-semibold nowrap">
												<div>@string.Format("{0:#,##0} ₫", sanPham.DonGia * sanPham.SoLuong)</div>
											</div>
										</div>
										<div class="review-box overlay-box" name="@sanPham.IdSanPham" style="display: none">
											<div class="bg-white manage-product-review-box rounded">
												<div class="box-padding-20 border-bottom-style-1">
													<div class="box-padding-left-right-20">
														<h3>Đánh giá sản phẩm</h3>
													</div>
												</div>
												<div class="box-padding-left-right-20">
													@if (sanPham.danhGias != null)
														@foreach (var danhGia in sanPham.danhGias)
														{
															<div class="product-main-info-review-item d-flex gap-3 width-40rem">
																<div class="box-padding-10">
																	<img src="~/@Model.UrlAnhDaiDien" class="circle-img">
																</div>
																<div class="box-padding-10 width-100">
																	<div class="product-main-info-review-meta">
																		<div><strong>@Model.HoVaTen</strong></div>
																		<div class="product-main-info-bold">
																			@danhGia.SoSaoDanhGia
																			@for (int j = 0; j < 5; j++)
																			{
																				if (j < danhGia.SoSaoDanhGia)
																				{
																					<span class="fa fa-star star-checked"></span>
																				}
																				else
																				{
																					<span class="fa fa-star"></span>
																				}
																			}
																		</div>
																		<div>@danhGia.ThoiGianDanhGia?.ToString("dd/MM/yyyy HH:mm")</div>
																	</div>
																	<div class="product-main-info-review-content">
																		@danhGia.NoiDungDanhGia
																	</div>
																</div>
															</div>
														}
												</div>
												<div class="d-flex box-padding-20">
													<button class="exitBtn ms-auto invisible-button profiles-edit-button" name="@sanPham.IdSanPham">Thoát</button>
												</div>
											</div>
										</div>
										<div class="d-flex">
											<div class="ms-auto box-padding-10">
												@if (sanPham.danhGias != null && sanPham.danhGias.Count > 0)
												{
													<button name="@sanPham.IdSanPham" class="invisible-button manage-product-review-btn reviewBtn">
														Xem đánh giá
													</button>
												}
												else if (donHang.ThoiGianGiao <= DateTime.UtcNow + TimeSpan.FromDays(15))
												{
													<button name="@sanPham.IdSanPham" class="invisible-button manage-product-review-btn">
														Đánh giá ngay
													</button>
												}
											</div>
										</div>
									}
								}
							</div>
							<div class="d-flex gap-3 box-padding-10 align-items-center justify-content-between">
								<div class="text-highlight fw-bold">Thành tiền:</div>
								<div class="text-highlight fw-bold fs-5 width-16 text-center">
									<div>@string.Format("{0:#,##0} ₫", donHang.TongTien)</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	let reviewBtn = document.getElementsByClassName('reviewBtn');
	let exitBtn = document.getElementsByClassName('exitBtn');
	for(let btn of reviewBtn) {
		btn.addEventListener('click', function() {
			let name = this.name;
			let box = document.querySelector(`.review-box[name="${name}"]`)
			box.style.display = 'flex';
		});
	}
	for(let btn of exitBtn) {
		btn.addEventListener('click', function() {
			let name = this.name;
			let box = document.querySelector(`.review-box[name="${name}"]`)
			box.style.display = 'none';
		});
	}
</script>
