@model ProductPageInfo
@{
	double diemDanhGiaDouble = (double)Model.TongDiemDanhGia / Model.SoLuongDanhGia;
	int diemDanhGiaInt = (int)diemDanhGiaDouble;
	double giamGia = (double)((Model.GiaGoc - Model.GiaBan) / Model.GiaGoc * 100);
}

<div class="template-2">
	<div class="container-2 d-flex flex-column gap-4">

		<!-- PHẦN SẢN PHẨM -->
		<div class="product-main-section bg-white box-padding-20 border-rounded">

			<div class="product-main-subsection box-padding-20">
				<div class="graphic-cover border-rounded-2 border-style-1">
					<img src="~/@Model.UrlAnh" alt="@Model.TenSanPham">
				</div>
			</div>

			<div class="d-flex flex-column product-main-subsection box-padding-20">
				<h1 class="product-main-title-font line-clamp-2 break-word">@Model.TenSanPham</h1>

				<div class="d-flex gap-3">
					<span class="product-main-info-bold">
						@diemDanhGiaDouble
						@for (int i = 0; i < 5; i++)
						{
							if (i < diemDanhGiaInt)
							{
								<span class="fa fa-star star-checked"></span>
							}
							else
							{
								<span class="fa fa-star"></span>
							}
						}
					</span>

					<span class="border-left product-main-info-bold">@Model.SoLuongDanhGia đánh giá</span>
					<span class="border-left product-main-info-bold">@Model.SoLuongBan đã bán</span>
				</div>

				<div class="d-flex gap-3 align-items-center gray-box">
					<span class="product-main-text-highlight">@string.Format("{0:#,##0} ₫", Model.GiaBan)</span>
					<span class="product-main-text-gray">@string.Format("{0:#,##0} ₫", Model.GiaGoc)</span>
					<span class="sale-box">@string.Format("-{0:0.##}%", giamGia)</span>
				</div>

				<div class="mt-auto">
					<div class="chossing-section d-flex gap-3 align-items-center">
						<div class="product-main-text"><strong>Số lượng</strong></div>
						<div class="d-flex border-rounded border-style-3 overflow-hidden">
							<button class="counting-box">-</button>
							<input type="text" class="counting-input" value="1">
							<button class="counting-box">+</button>
						</div>
						<div class="product-main-text">@Model.SoLuongKho sản phẩm có sẵn</div>
					</div>

					<div class="d-flex gap-3 mt-3">
						<div class="btn-add-shopping-cart">
							<i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
						</div>
						<div class="btn-buy">Mua Ngay</div>
					</div>
				</div>
			</div>

		</div>

		<!-- PHẦN THÔNG TIN CỬA HÀNG -->
		<div class="bg-white box-padding-20 border-rounded product-main-info-store">
			<div class="d-flex gap-4">
				<div class="box-padding-15">
					<img src="@Model.UrlAnhCuaHang">
				</div>
				<div>
					<div class="product-main-info-store-name">@Model.TenCuaHang</div>
					<div class="product-main-info-stat">
						Sản phẩm đang bán: @Model.SoSanPhamDangBan
					</div>
					<div class="product-main-info-stat">
						Đã tham gia vào: @Model.ThoiGianThamGia?.ToString("dd/MM/yyyy")
					</div>
					<div class="product-main-info-stat">
						Địa chỉ: @Model.DiaChiCuaHang
					</div>
				</div>
			</div>
			<div class="btn-buy">Xem Cửa Hàng</div>
		</div>

		<!-- PHẦN CHI TIẾT SẢN PHẨM -->
		<div class="bg-white box-padding-20 border-rounded">
			<h2>Chi tiết sản phẩm</h2>
			<div class="product-main-info-label">Danh mục:</div>
			<div class="product-main-info-value">@Model.TenDanhMuc</div>
			<div class="product-main-info-label">Số lượng còn lại:</div>
			<div class="product-main-info-value">@Model.SoLuongKho</div>
			<div class="product-main-info-label">Mô tả sản phẩm:</div>
			<div class="product-main-info-value">@Model.MoTa</div>
		</div>

		<!-- PHẦN ĐÁNH GIÁ -->
		<div class="bg-white box-padding-20 border-rounded product-main-info-review">
			<h2>Đánh giá sản phẩm</h2>
			<div>
				@((double)Model.TongDiemDanhGia / Model.SoLuongDanhGia) Sao
			</div>

			@foreach (var i in Model.DanhSachDanhGia)
			{
				<div class="product-main-info-review-item">
					<div class="product-main-info-review-meta">
						<span>Tên người đánh giá</span>
						<span>Điểm</span>
						<span>Thời gian</span>
					</div>
					<div class="product-main-info-review-content">
						@i
					</div>
				</div>
			}
		</div>

	</div>
</div>
