@model ProductPageInfo
@{
	double diemDanhGiaDouble = (double)Model.TongDiemDanhGia / Model.SoLuongDanhGia;
	int diemDanhGiaInt = (int)diemDanhGiaDouble;
	double giamGia = (double)((Model.GiaGoc - Model.GiaBan) / Model.GiaGoc * 100);
}
<div class="template-2">
	<div class="container-2 d-flex flex-column" style="gap: 2rem;">
		<div class="product-main-section bg-white box-padding-20 border-rounded">
			<div class="product-main-subsection box-padding-20">
				<div class="graphic-cover border-rounded-2 border-style-1">
					<img src="~/@Model.UrlAnh" />
				</div>
			</div>
			<div class="d-flex flex-column product-main-subsection box-padding-20">
				<h1 class="product-main-title-font line-clamp-2 break-word">
					@Model.TenSanPham
				</h1>
				<div class="d-flex gap-3">
					<span class="product-main-info-bold">
						@diemDanhGiaDouble
						@for (int i = 0; i < 5; ++i)
						{
							if (i < diemDanhGiaInt)
							{
								<span class="fa fa-star star-checked"></span>
							}
							else
							{
								<span class="fa fa-star"></span>
							}
						}
					</span>
					<span class="border-left product-main-info-bold">
						@Model.SoLuongDanhGia đánh giá
					</span>
					<span class="border-left product-main-info-bold">
						@Model.SoLuongBan đã bán
					</span>
				</div>
				<div class="d-flex gap-3 align-items-center gray-box">
					<span class="product-main-text-highlight">
						@string.Format("{0:#,##0} ₫", Model.GiaBan)
					</span>
					<span class="product-main-text-gray">
						@string.Format("{0:#,##0} ₫", Model.GiaGoc)
					</span>
					<span class="sale-box">
						@string.Format("-{0:0.##}%", giamGia)
					</span>
				</div>
				<div class="mt-auto">
					<div class="chossing-section d-flex gap-3 mt-3 align-items-center">
						<div class="product-main-text">
							<strong>Số lượng</strong>
						</div>
						<div class="d-flex border-rounded border-style-3 overflow-hidden">
							<button class="counting-box">-</button>
							<input type="text" class="counting-input" value="1" />
							<button class="counting-box">+</button>
						</div>
						<div class="product-main-text">
							@Model.SoLuongKho Sản phẩm có sẵn
						</div>
					</div>
					<div class="d-flex gap-3 mt-3">
						<div class="btn-add-shopping-cart">
							<i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
						</div>
						<div class="btn-buy">
							Mua Ngay
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
				<div>
					<img src="/@Model.UrlAnhCuaHang" />
				</div>
				<div>
					@Model.TenCuaHang
				</div>
				<div>
					Xem Cửa Hàng
				</div>
			</div>
			<div>
				<div>
					@Model.SoSanPhamDangBan Sản phẩm
				</div>
				<div>
					@Model.ThoiGianThamGia Thời gian tham gia
				</div>
				<div>
					@Model.DiaChiCuaHang
				</div>
			</div>
		</div>
		<div>
			<div>
				Chi tiết sản phẩm
			</div>
			<div>
				<div>
					Danh mục:
				</div>
				<div>
					@Model.TenDanhMuc
				</div>
			</div>
			<div>
				<div>
					Số sản phẩm còn lại:
				</div>
				<div>
					@Model.SoLuongKho
				</div>
			</div>
			<div>
				Mô tả sản phẩm
			</div>
			<div>
				@Model.MoTa
			</div>
		</div>
		<div>
			<div>Đánh giá sản phẩm</div>
			<div>
				<div>
					@((double)Model.TongDiemDanhGia / Model.SoLuongDanhGia) Sao
				</div>
				<div>
					...
				</div>
			</div>
			@foreach (var i in Model.DanhSachDanhGia)
			{
				<div>
					<div>
						@i
					</div>
					<div>
						<div>Tên người đánh giá</div>
						<div>Điểm đánh giá</div>
						<div>Thời gian đánh giá</div>
						<div>Nội dung đánh giá</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>